html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #374456
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.clearfix:after, .clearfix:before {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.page__wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.page__inner {
    width: 740px;
    height: 560px;
    margin: 0 auto;
}

.chat {
    float: left;
}
.chat {
    width: 540px;
    height: 100%;
    background: #fff;
}








